@{
    ViewBag.Title = "Página Inicial";
}

<div class="container text-center d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <h1 class="display-4 text-primary fw-bold mb-3">
        Sistema de Gerenciamentos de Contatos
    </h1>
    <p class=" lead text-muted" style="max-width: 600px;">
        Este projeto é um sistema CRUD desenvolvido com ASP.NET MVC, que permite criar, ler, atualizar e excluir
        registros de forma simples e organizada.
        <br />
        <strong>Clique em <a asp-controller="Contato" class="text-decoration-none">Contatos</a> para iniciar.</strong>
    </p>
</div>
